apiVersion: v1
kind: Service
metadata:
  name: rancher
  namespace: cattle-system
spec:
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30443
    - name: https
      port: 443
      targetPort: 443
      nodePort: 30444
  selector:
    app: rancher
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rancher
  namespace: cattle-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rancher
  template:
    metadata:
      labels:
        app: rancher
    spec:
      containers:
      - name: rancher
        image: rancher/rancher:latest
        ports:
        - containerPort: 80
        - containerPort: 443
        env:
        - name: CATTLE_BOOTSTRAP_PASSWORD
          value: "rancher123"
        - name: CATTLE_SERVER_URL
          value: "https://192.168.56.10:30444"
        volumeMounts:
        - name: rancher-data
          mountPath: /var/lib/rancher
      volumes:
      - name: rancher-data
        emptyDir: {}
