apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-app
spec:
  replicas: 5
  selector:
    matchLabels:
      app: simple-app
  template:
    metadata:
      labels:
        app: simple-app
    spec:
      containers:
      - name: simple-app
        image: nginx:alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "164Mi"
            cpu: "50m"
          limits:
            memory: "2128Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: simple-app-service
spec:
  selector:
    app: simple-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: simple-app-ext-service
spec:
  selector:
    app: simple-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort





